* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

.container {
    padding: 20px;
}

h1 {
    color: #e50914;
}

h2 {
    display: none;
}

ul {
    list-style: none;
    margin: 20px 0;
}

.language img {
    width: 20px;
}